<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c97a8cf8b0691bd2c5f6743a959bd516 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c97a8cf8b0691bd2c5f6743a959bd516" ></div>
        
</body>
<script>    
    
            var map_c97a8cf8b0691bd2c5f6743a959bd516 = L.map(
                "map_c97a8cf8b0691bd2c5f6743a959bd516",
                {
                    center: [-37.840935, 144.946457],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b5ef662f28d2426b4ee4302dcfb7091b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c97a8cf8b0691bd2c5f6743a959bd516);
        
    
            var marker_dd322f5b1d162459a1f2045b41696019 = L.marker(
                [-37.823364, 144.95633],
                {}
            ).addTo(map_c97a8cf8b0691bd2c5f6743a959bd516);
        
    
        var popup_c0eda79154655a41f61b67f2d862b068 = L.popup({"maxWidth": "100%"});

        
            var html_864b437ab0b43b7e7ac647cfad648e46 = $(`<div id="html_864b437ab0b43b7e7ac647cfad648e46" style="width: 100.0%; height: 100.0%;"><b>100</b></div>`)[0];
            popup_c0eda79154655a41f61b67f2d862b068.setContent(html_864b437ab0b43b7e7ac647cfad648e46);
        

        marker_dd322f5b1d162459a1f2045b41696019.bindPopup(popup_c0eda79154655a41f61b67f2d862b068)
        ;

        
    
    
            marker_dd322f5b1d162459a1f2045b41696019.bindTooltip(
                `<div>
                     South Bank
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_200b53a553f6556e76cf4e03606e8869 = L.marker(
                [-37.81794, 145.12369],
                {}
            ).addTo(map_c97a8cf8b0691bd2c5f6743a959bd516);
        
    
        var popup_9acc9ef44cd70af04895fb50c10ac112 = L.popup({"maxWidth": "100%"});

        
            var html_5e0b273b73c236a9f1c6db8bd3550e7d = $(`<div id="html_5e0b273b73c236a9f1c6db8bd3550e7d" style="width: 100.0%; height: 100.0%;"><b>80</b></div>`)[0];
            popup_9acc9ef44cd70af04895fb50c10ac112.setContent(html_5e0b273b73c236a9f1c6db8bd3550e7d);
        

        marker_200b53a553f6556e76cf4e03606e8869.bindPopup(popup_9acc9ef44cd70af04895fb50c10ac112)
        ;

        
    
    
            marker_200b53a553f6556e76cf4e03606e8869.bindTooltip(
                `<div>
                     Box Hill
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_58ca05f2b8eebf778619eac5276816cf = L.marker(
                [-38.148991411100134, 144.35844532757642],
                {}
            ).addTo(map_c97a8cf8b0691bd2c5f6743a959bd516);
        
    
        var popup_b8e076ae9ad40b199bd522a362674cbb = L.popup({"maxWidth": "100%"});

        
            var html_1559b549889fd97a5ed81773d0ee2584 = $(`<div id="html_1559b549889fd97a5ed81773d0ee2584" style="width: 100.0%; height: 100.0%;"><b>50</b></div>`)[0];
            popup_b8e076ae9ad40b199bd522a362674cbb.setContent(html_1559b549889fd97a5ed81773d0ee2584);
        

        marker_58ca05f2b8eebf778619eac5276816cf.bindPopup(popup_b8e076ae9ad40b199bd522a362674cbb)
        ;

        
    
    
            marker_58ca05f2b8eebf778619eac5276816cf.bindTooltip(
                `<div>
                     Geelong
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_74de8317b430e2458646cec03c1d7aca = L.marker(
                [-37.912430478752995, 144.9905811928703],
                {}
            ).addTo(map_c97a8cf8b0691bd2c5f6743a959bd516);
        
    
        var popup_fa41b79aa126ed35b177612801725627 = L.popup({"maxWidth": "100%"});

        
            var html_43edb17c9f7e6a03c80a87e152897de3 = $(`<div id="html_43edb17c9f7e6a03c80a87e152897de3" style="width: 100.0%; height: 100.0%;"><b>50</b></div>`)[0];
            popup_fa41b79aa126ed35b177612801725627.setContent(html_43edb17c9f7e6a03c80a87e152897de3);
        

        marker_74de8317b430e2458646cec03c1d7aca.bindPopup(popup_fa41b79aa126ed35b177612801725627)
        ;

        
    
    
            marker_74de8317b430e2458646cec03c1d7aca.bindTooltip(
                `<div>
                     Brighton
                 </div>`,
                {"sticky": true}
            );
        
</script>